header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.parent {
    width: 100%;
    background-color: #ddd;
    padding-left: 20px;
    margin-left: 0;
}
.body-wrapper {
    background-color: #fff;
    font-size: 1.4em;
}
.app-body, app-left-bar, app-right-bar {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}
.entry {
    padding: 20px;
    display: block;
    background-color: #eee;
}

input#twot {
    padding: 6px;
}
.entry .input-group {
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.entry .input-group-btn {
    vertical-align: top;
    padding: 0;
}
.entry .input-group-btn button {
    height: 100%;
    padding: 18px 12px;
}
.entry .form-control {
    border-style: dotted;
    border-color: #090;
}
.icon, .settings {
    background-color: #dde2dd;
    height: 100%;
}
.icon, .icon img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0;
}
.settings {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 2px;
    padding-left: 2px;}
.content {
    background-color: #eee;
    height: 100%;
}
.bag {
    border-color: #090;
    border-width: 1px;
    border-radius: 8px;
    border-style: dotted;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.7em;
    color: #555;
}
.origin, .message {
    width: 100%;
}
.icon img {
    height:100%;
}
.author, .date {
    font-size: 0.8em;
    color: #aaa;
    display: inline-table;
    margin-left:0;
    margin-right: 0;
}
.rb {
    border: 1px solid red;
}
.message {
    height: 55px;
    font-size: 0.9em;
    overflow: hidden;
    padding: 0;
}
.origin {
    height: 18px;
    padding-top: 2px;
}
.date {
    text-align: right;
    float: right;
}
.author {
    float: left;
}
.remain {
    font-size: 0.5em;
    color: #aaa;
}
.remain.red {
    color: red;
}
.entry textarea {
    height: 58px;
}
.deleteTwot {
    margin: 2px;
    padding: 0px 3px;
    border: 1px solid #bbb;
    border-radius: 3px;
    color: #bbb;
    font-size: 0.6em;
    cursor: pointer;
}

.alert {
    font-size: 14px;
}

.twotlist-enter {
    opacity: 0.01;
    max-height: 0;
}

.twotlist-enter.twotlist-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-out;
    max-height: 40px;
}

.twotlist-leave {
    opacity: 1;
    max-height: 40px;
}

.twotlist-leave.twotlist-leave-active {
    opacity: 0.01;
    transition: opacity 400ms ease-out;
    max-height: 0;
}
